<div>
  <form action="/account" method="POST">
    <input type="hidden" name="_method" id="hidden" value="PATCH">
    <label for="username">Username: <%= @user.username %></label>
    <br>
    <label for="name">Name:</label>
    <input type="name" name="name" id="name" value="<%= @user.name %>">
    <br>
    <label for="password">Change Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" value="Save">
  </form>
  <form action="/account" method="POST">
    <input type="hidden" name="_method" id="hidden" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</div>
