<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg">
      <form class="blog-form" action='/posts/<%= @post.id %>' method="POST">
        <div class="form-group">
          <input type="hidden" name="_method" id="hidden" value="PATCH">
          <input class="form-control center" type="text" name="title" id="title" value="<%= @post.title %>">
          <textarea class="form-control" name="content" id="" cols="30" rows="10"><%= @post.content %></textarea> 
          <br>
          <input class="btn btn-success" type="submit" value="Save">
        </div>
      </form>
      <form class="blog-form" action="/posts/<%= @post.id %>" method="POST">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input class="btn btn-danger" type="submit" value="Delete">
      </form>
    </div>
  </div>
</div>