<div class="container">
  <div class="row justify-content-lg-center">
    <div class="col-lg">
      <form class="blog-form" action='/posts/new' method="POST">
        <div class="form-group">
          <input class="form-control center" type="text" name="title" id="title" placeholder="New post title here..." required>
          <textarea class="form-control" name="content" id="" cols="30" rows="20" placeholder="Once upon a time....." required></textarea> 
          <br>
          <input class="btn btn-success" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>