<div class="container">
  <form action="/posts" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <input class="center" type="submit" value="Login">
  </form>
</div>
